<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="hardware_component" params="name plugin">
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>${plugin}</plugin>

        <!-- Joint1 -->
        <param name="joint1_name">hombro</param>
        <param name="joint1_controller_gain">50.0</param>
        <param name="joint1_counts_per_unit">186740.0</param>
        <param name="joint1_minimum_time_period">1</param>
        <param name="joint1_maximum_time_period">1000000</param>
        <param name="joint1_offset">220000</param>

        <!-- Joint2 -->
        <param name="joint2_name">codo</param>
        <param name="joint2_controller_gain">50.0</param>
        <param name="joint2_counts_per_unit">12308.0</param>
        <param name="joint2_minimum_time_period">3</param>
        <param name="joint2_maximum_time_period">1000000</param>
        <param name="joint2_offset">-29000</param>

        <!-- Joint3 -->
        <param name="joint3_name">muneca</param>
        <param name="joint3_controller_gain">50.0</param>
        <param name="joint3_counts_per_unit">1000.0</param>
        <param name="joint3_minimum_time_period">1</param>
        <param name="joint3_maximum_time_period">1000000</param>
        <param name="joint3_offset">0</param>

        <!-- Joint4 -->
        <param name="joint4_name">falange</param>
        <param name="joint4_controller_gain">50.0</param>
        <param name="joint4_counts_per_unit">1065200.0</param> <!-- 2 * 79890 / 0.15m -->
        <param name="joint4_minimum_time_period">1</param>
        <param name="joint4_maximum_time_period">1000000</param>
        <param name="joint4_offset">0</param>

        <!-- Serial Communication -->
        <param name="loop_rate">30</param>
        <param name="device">/tmp/scara</param>
        <param name="baud_rate">115200</param>
        <param name="timeout_ms">1000</param>
        <param name="echo">true</param>
      </hardware>
      <joint name="hombro">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="codo">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="falange">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.1</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="muneca">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>